body {
    background: url(https://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg) no-repeat center;
    background-attachment: fixed;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    padding-top: 30px;
}

.col {
    width: 300px;
    display: inline-block;
    margin-bottom: 25px;
}

.row {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.intro {
    color: white;
}

.bottom {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

.avatar img {
    width: 100%;
}
.preview img{
    width: 100%;
}

.channel_name {
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}
